<div class="form-group">
	<form #bmiForm="ngForm" (ngSubmit)="onSubmit(bmiForm)">
		<input type="date"
			name="date"
			[(ngModel)]="bmi.date">
		<input type="number"
			placeholder="Height"
			name="height"
			[(ngModel)]="bmi.height">
		<input type="number"
			placeholder="Weight"
			name="weight"
			[(ngModel)]="bmi.weight">
		<button type="submit">Add</button>
	</form>
	<form #goalForm="ngForm" (ngSubmit)="setGoal(goalForm)">
		<input type="number"
			placeholder="Goal"
			name="goal"
			[(ngModel)]="goal">
		<button type="submit">Set Goal</button>
	</form>
</div>