<div class="form-group">
	<form #bmiForm="ngForm" (ngSubmit)="onSubmit(bmiForm)">
		<div>
			<input type="text"
				name="date"
				ngbDatepicker
				#d="ngbDatepicker"
				[(ngModel)]="bmi.date"
				(focus)="d.open()"
				(dateSelect)="d.close()"> 
			<button
				(click)="d.toggle()"
				class="btn btn-primary-outline"
				type="button">
				<img src="assets/img/calendar-icon.png" style="width: 1.5rem; height: 1.5rem;"/>
			</button> 
		</div>
		<input type="number"
			placeholder="Height"
			name="height"
			[(ngModel)]="bmi.height">
		<input type="number"
			placeholder="Weight"
			name="weight"
			[(ngModel)]="bmi.weight">
		<button type="submit">Add</button>
	</form>
	<form #goalForm="ngForm" (ngSubmit)="setGoal(goalForm)">
		<input type="number"
			placeholder="Goal"
			name="goal"
			[(ngModel)]="goal">
		<button type="submit">Set Goal</button>
	</form>
</div>